@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.container {
  display: flex;
  justify-content: center;
}

.mobile {
  background-color: #F7F7F7;
  border-radius: 50px;
  margin: 10px;
  height: 812px;
  width: 375px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  transform: scale(0.9);
  transform-origin: top center;
}

.header {
  height: 30%;
  background-color: darkblue;
  border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
   overflow: hidden;
}

.header::before{
  content:"";
  height: 200px;
  width: 200px;
  background-color: lightseagreen;
  border-radius: 50%;
  position:absolute;
  top: -60px;
  left: -100px;
  z-index: 2;
}

.header::after {
  content:"";
  height: 100px;
  width: 100px;
  background-color: lightblue;
  border-radius: 50%;
  position:absolute;
  right: -20px;
  bottom: -30px;
  z-index: 2;
 
}

.header-summary {
  display: flex;
  flex-direction: column;
font-family: 'Montserrat', sans-serif;
  color: white;
  z-index: 3;
}

.menu-items .header-summary {
  margin-bottom: 40px;
}

.logo {
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.summary-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.summary-balance {
  font-size: 1.2rem;
  text-align: center;
  /* letter-spacing: 1.5px;
  margin-bottom: 0.8rem; */
  
}

#content {
  z-index: 4;
  position: absolute;
  top: 210px;
  margin: 0 7.5%;
  display:flex;
  flex-direction:column;
  width: 85%;
}

.overlay {
  z-index: -1!important;
}

.card {
  font-family: 'Montserrat', sans-serif;
  align-self: stretch;
  background-color: white;
  border: 1px solid lightseagreen;
  border-radius: 50px;
  display: flex;
  flex-direction:column;
   box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 10px rgba(0,0,0,0.0);
}

video {
  border-radius: 20px;
}

canvas {
  border-radius: 20px;
}

iframe {
  height: 200px;
  position: relative;
  left: -10px;
  border: none;
}

.upper-row {
  display: flex;
  justify-content: space-evenly;
  /* padding: 25px; */
  margin-top: 25px;
}

.upper-row-sub {
  margin: 0;
  padding: 25px;
}

.single {
  margin: 0!important;
  padding: 25px!important;
}

.card-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-terms {
  height: 500px;
  overflow-y: auto;
}

.card-auth .card-item {
  margin: 0;
}

.span-header {
  color: darkblue;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.span-header-sub {
  color: darkblue;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
}

.span-body {
  max-width: 80%;
  margin: 0 auto;
}

.span-docs {
  max-width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0;
}

/* .card-item span:first-child {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom:10px;
} */

/* .card-item span:last-child {
  font-size: 1.2rem;
  font-weight: 300;
} */

.dollar {
  color: lightseagreen;
}

.lower-row {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  /* margin-bottom: 25px; */
}

/* .card-auth > .lower-row {
  margin-bottom: 50px;
} */

.lower-row::before {
    content: '';
    display: block;
    position: absolute;
    top: 110px;
    width: 50%;
    left: 25%;
    /* border-top: 1px solid #E1E1E1; */
}

.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: lightseagreen;
  padding: 10px;
  background-color: #FBFBFB;
  border-radius: 5px;
  margin-bottom: 5px;
}

.icon-text {
  font-size: 0.6em;
  color: #939393;
}

.transactions {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: relative;
  margin: 2rem 0;
  padding-top: 10px;
  flex-direction: column;
  max-height: 225px;
  overflow-y: auto;
}

.subscriptions {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: relative;
  margin: 2rem 0;
  padding-top: 10px;
  flex-direction: column;
  height: 450px;
  overflow-y: auto;
}

.associates {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: relative;
  margin: 2rem 0;
  padding-top: 10px;
  flex-direction: column;
  height: 290px;
  overflow-y: auto;
}

.c-sub {
  height: 300px!important;
}

.t-desc, .s-desc, .a-desc {
  color: darkblue;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

.transaction {
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 10px rgba(0,0,0,0.0);
  border: 1px solid lightseagreen;
  border-radius: 20px;
  margin-bottom:20px;
  color: darkblue;
}

.subscription {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 10px rgba(0,0,0,0.0);
  border: 1px solid lightseagreen;
  border-radius: 50px;
  font-weight: 500;
  color: darkblue;
  margin-bottom: 10px;
}

.associate {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 10px rgba(0,0,0,0.0);
  border: 1px solid lightseagreen;
  border-radius: 50px;
  font-weight: 500;
  color: darkblue;
  margin-bottom: 10px;
}

.t-details, .a-details {
  width: 85%;
  height: 55px;
  overflow: hidden;
}

.a-details {
  height: auto;
}

/* .s-details {
  width: 85%;
  overflow: hidden;
} */

.t-more-details {
  padding-top: 10px;
  font-size: 0.8rem;
}

.t-price, .a-price {
  text-align: center;
}

.s-price {
  text-align: center;
}

.t-icon-container {
  width: 45px;
  align-self: flex-start;
}

.t-icon {
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
}

.t-title {
  text-align: left;
  flex-grow: 1;
  font-size: 0.8rem;
  /* font-weight: bold; */
  margin-bottom: 5px;
}

.s-title {
  padding-left: 15px;
  font-weight: bold;
}

.c-title {
  font-size: 0.8rem;
  padding-bottom: 5px;
}

.a-title {
  font-size: 0.8rem;
  text-align: center;
}

.t-time, .a-time {
  font-size: 0.6rem;
  opacity: 0.6;
  font-weight: 300;
  letter-spacing: 1px;
}

.s-time {
  font-size: 0.6rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.t-amount {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: darkblue;
}

.red {
  color: #F4532D;
}

.drawer {
  display:flex;
  /* background-color: white; */
  height:120px;
  /* position:absolute; */
  bottom: 0px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 5;
  justify-content: space-evenly;
  align-items: center;
}

.drawer-auth {
  height: 175px;
}

.drawer span {
  display: inline-block;
  /* font-size: 1.5rem; */
  color: #fff;
  transition: all 0.4s;
  cursor: auto;
}

.drawer span i:hover {
  transform: scale(1.2);
  border-bottom: 2px solid orange;
}

.drawer span i {
  transition: all 0.3s ease;
  padding-bottom: 8px;
}

.drawer input {
  border: none;
}



.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: lightseagreen;
  color: white;
  /* top: -25px; */
  /* position: absolute; */
  margin: 0 auto;
  /* transform: rotate(-45deg); */
  border-radius: 50px;
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 0.1s;
  opacity: 0.9;
}

.menu-subscribed {
  background-color: darkblue;
}

.menu-subscribed:hover {
  box-shadow: none!important;
}

.menu-sub {
  scale: 0.6;
  position: relative;
  left: -30px;
}

.menu-assoc {
  scale: 0.6;
  position: relative;
}

.menu-add-item {
  margin-top: 25px;
  width: 100px!important;
}

.btn-register {
  top: 50px;
}

.menu-btn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-btn i{
  font-size: 1.5em;
  transform: rotate(45deg);
  
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.transaction:hover {
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.auth-bar {
  /* position: absolute; */
  background-color: lightseagreen;
  color: white;
  padding: 15px;
  text-align: center;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 50px;
  /* width: 200px; */
  margin: 0 auto;
}

.auth-message {
  font-family: Montserrat, sans-serif;
  /* font-size: 1.2rem!important; */
  /* font-weight: 500; */
}

.blinking {
  animation: blink 2s step-start infinite; /* Apply blinking animation */
}

@keyframes blink {
  50% {
      opacity: 0; /* Fade out at halfway point */
  }
}

#canvas {
  position: absolute;
  left: 15%;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid lightseagreen;
  border-radius: 20px;
  font-family: Montserrat, sans-serif;
}

#pay-form {
  padding-top: 20px;
  /* padding-left: 25px;
  padding-right: 25px; */

  label {
    position: relative;
    font-weight: bold;
    font-size: 0.8rem;
    padding-right: 20px;
  }

  select {
    padding: 10px;
    border: 1px solid lightseagreen;
    border-radius: 20px;
    width: 100px;
  }
}

.tabs {
  margin-top: 25px;
  margin-bottom: 10px;
}

button {
  border-radius: 20px;
}

.tab-button {
  width: 95px;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid lightseagreen;
  font-family: Montserrat, sans-serif;
}

.tab-content {
  /* margin-top: 15px; */
  overflow-y: auto;
  max-height: 180px;
}

.tab-active {
  background: darkblue; 
  color: white;
}

.submit {
  padding: 25px;
  border: none;
  background: none;
  color: white;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}

#submit-business-id {
  padding: 0;
}

.submit-sub {
  font-size: 1.5rem;
  font-weight: bold
}

.submit-sub:disabled {
  cursor: auto;
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

nav {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 9999;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  position: fixed;
  padding-top: 60px;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
  background-color: darkblue;
  height: 110vh;
  width: 50vh;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  /* padding-left: 50px; */
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

.col-1, .col-2, .col-3 {
  display: inline-grid;
  float: left;
  width: 33.3%;
  text-align: center;
}

.tooltip {
  position: relative;
}
.tooltip__item {
  position: absolute;
  min-width: 100px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  background: white;
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  color: #484848;
  border: 1px solid #cecece;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 2px 1px #bcbcbc;
  z-index: 4;
}
.tooltip__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.tooltip__initiator {
  cursor: pointer;
  z-index: 5;
}
.tooltip[data-direction=bottom] .tooltip__initiator:hover ~ .tooltip__item {
  transform: translate3d(-50%, 0, 0);
  visibility: visible;
  opacity: 1;
}
.tooltip[data-direction=bottom] .tooltip__item {
  top: calc(100% + 1em);
  left: 50%;
  transform: translate3d(-50%, -15px, 0);
}
.tooltip[data-direction=bottom] .tooltip__item:after {
  top: -0.5em;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent white transparent;
  -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
  filter: drop-shadow(1px -1px 1px #bcbcbc);
}

.input-register {
  margin: 0 auto;
  width: 50%
}

#business-id {
  margin-bottom: 50px;
}

.menu-label {
  padding: 25px;
  color: #fff;
}

.empty {
  width: 100%;
  text-align: center;
}